$white = #ffffff
$black = #000
$mid-black = #002641
$blue = #224FFF
$red = #FD5A58
$green = #42E37B

$mint = #00C396
$dark-green = #064750
$radial-green = radial-gradient(47.47% 99.05% at 29.55% 50.08%, #064750 0%, #01212F 100%)


$min-width = 320px
$max-width = 1200px
$base-bg = #fff
$base-size = 15px
$base-line = 25px
$custom-font = 'Gilroy', sans-serif
$trans = all .3s ease-out

$text-color = rgba(0,0,0,0.7)
$title-color = $mid-black

$h1-size = 60px
$h1-line = 80px
$h2-size = 35px
$h2-line = 45px